.services-container {
   padding: 50px;
}

.services-cards{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 300px));
    grid-gap: 16px;
}

@media (max-width:1200px){
    .services-text{
        text-align: center;
    }
    .services-cards{
        justify-content: center;
    }
}

@media (max-width:990px){
    .services-cards{
        margin: 30px;
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 300px));
        grid-gap: 16px;
    }
    .services-container{
        padding-top: 120px;
    }
}

@media (max-width:660px){
    .services-cards{
        margin: 30px;
        display:flex;
        flex-direction: column;
    }
}
