.services-container {
   padding: 50px;
   overflow: hidden;
   background-color: #0f0f49;
}

.services-wrap{
    padding: 0 20px
}

.services-text{
    text-transform: uppercase;
    font-family: Gilroy-semibold;
    font-weight: 700;
    color: white;
    letter-spacing: 2.7px;
    margin-top: 10px;
    position: relative;
    margin-bottom: 100px;
}

.services-cards{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 50px;
}

.card{
    padding:10px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 8px 2px hsla(0,0%,68.6%,.45);
    transition: all 0.5s ease-in-out;

    &:hover{
        transform: scale(1.1);
    }
    .card-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        border: none;
        background-color: white;
        max-width: 100%;

        .card-title{
            margin: 0;
            font-size: 1em;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #0f0f49;
            padding: 5px;
            color: #0f0f49;
            font-family: Gilroy-bold;
        }

        img{
            padding: 5px;
            width: 75px;
            height: 75px;
            
        }
    }
}

@media (max-width:1200px){
    .services-text{
        text-align: center;
    }
    .services-cards{
        justify-content: center;
        
    }
}

@media (max-width:990px){
    .services-cards{
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 300px));
    }
    .services-container{
        padding:120px 20px;
    }
}

@media (max-width:700px){
    .services-cards{
        display: grid;
        grid-template-columns: repeat(1, minmax(100px, 400px));
        margin: 0;
        padding:0;
        
    }

    .card{
        border-radius: 0;
        border-bottom: 1px solid #c9c9c9;

        .card-header {
            justify-content: center;
            .card-title{
                font-size: 15px;
            }

            img{
                width:50px;
            }
           }
    }

    .card-body {
        display: none;
    }



}
