.header-container {
    padding:20px;
    position: fixed;
    z-index: 10;
    background-color: transparent;
    height: 100px;
    transition: all 0.3s ease-in-out;
    
}

.header-container.active{
    background-color: #111048;
}

.nav-links{
    display: flex;
    flex-direction: row;
}

.header-contact{
    display: flex;
    flex-direction: row;
    align-items: center;

    .burger-icon-wrap{
        font-size: 18px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 20px;
        cursor: pointer;

        p{
            margin-right: 10px;
        }
    }

}



    .header-content{
        display: flex;
        justify-content: space-between;
        font-size: 35px;
        text-align: center;
        align-items: center;
        
        
        p{
            text-transform: uppercase;
            font-weight: 600;
            margin: 0;
            color: white;
        }
    }

.burger-menu{
    color: white;
}

.nav-wrap{
    margin-bottom: 10px;

    a{
        letter-spacing: 2px;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        margin-right:30px;
        color: white;
        
    }

    .btn{
        padding: 10px 25px;
        background-color: white;
        border-radius: 25px;
        color: #111048;

        &:hover{
            background-color:rgb(220, 224, 255) ;
        }
    }
}

@media (max-width: 768px){
    .header-contact .btn{
        display: none;
    }
}

@media(max-width:468px){
    .header-content{
        p{
            font-size: 0.8em;
        }
    }
}