.ind-container{
    padding: 120px 0;
    overflow: hidden;
}

.ind-wrap{
    width: 100%;
    height: 100%;
}

.ind-right{
    background-image: url("../img/industry-bg.jpg");
    background-repeat: no-repeat;
    margin-top: 76px;
    

}

.ind-sidebar{
    max-width: 320px;
    position: absolute;
    background-color: white;
    right: 0;
    top: 20%;
    opacity: 1;
    padding:10px;
    transition: all 0.5s ease-in-out;

    .sidebar-title{
        font-family: Gilroy-semibold;
        color:#0f0f49;
        text-transform: uppercase;
        letter-spacing: 8px;
        margin-bottom: 30px;
        font-size: 1.5em;
    }

    .sidebar-text{
        font-size: 1.2em;
        letter-spacing: 3px;
        color: #0f0f49;
    }
    
}

.ind-left{
    
     .ind-title{
         text-transform: uppercase;
         font-family: Gilroy-semibold;
         font-size: 30px;
         letter-spacing: 2.5px;
         padding-bottom: 40px;
         position: relative;
         color: #0f0f49;

         &::after{
             content: "";
             width: 50px;
             height: 2px;
             display: block;
             background-color: black;
             position: absolute;
             left: 0;
             bottom:0
         }


     }
    .ind-list{
        list-style: none;
        padding: 0;
        min-height: auto;
        li{
            margin: 10% 0;

            .ind-item{
                display: inline-block;
                letter-spacing: 3px;
                text-transform: uppercase;
                font-size: 20px;
                color: #7680a2;
                font-weight: 600;
                text-decoration: none;
                padding: 5px;
                

                &:hover{
                    background-color:  #0f0f49;
                    color: white;
                }

            }
        }
    }
}

.active {
    background-color:  #0f0f49;
    color: white !important;
}

@media (max-width:770px){
    .ind-right {
        display: none;
    }
    
    .ind-left{
        padding: 0;
        margin-left: 20px;
        .ind-title{
            text-align: center;
            font-size: 1.5em;

            &::after{
                content: "";
                width: 50px;
                height: 2px;
                display: block;
                background-color: black;
                position: absolute;
                left: 45%;
                bottom:0
            }
            

        }

        .ind-list{
            
            text-align: center;
            li{
            .ind-item{
                font-size: 15px ;
            }
        }
    }
    }
    
}
