body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Gilroy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

.btn{
  padding: 10px 25px;
  background-color: white;
  border-radius: 25px;
  color: #111048;

  &:hover{
      background-color:rgb(220, 224, 255) ;
  }
  }
@font-face{
  font-family: Gilroy;
  src:url("./components/Gilroy.otf")
}

@font-face{
  font-family: Gilroy-bold;
  src: url("./components/Gilroy-ExtraBold.otf");
}

@font-face{
  font-family: Gilroy-semibold;
  src: url("../src/components/gilroy-semibold.ttf")
}

