body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Gilroy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face{
  font-family: Gilroy;
  src:url("./components/Gilroy.otf")
}

@font-face{
  font-family: Gilroy-bold;
  src: url("./components/Gilroy-ExtraBold.otf");
}

